<div class="retro-sprint-container">
  <mat-card *ngFor="let board of boards" (click)="_navigateToBoard(board)">
    <mat-card-header>
      <mat-card-title>
        {{board.name}}
      </mat-card-title>
      <mat-card-subtitle>
        <div class="subtitle-date">
          <span>
            <mat-icon aria-hidden="false" aria-label="Created At">date_range</mat-icon>
          </span>
          <span>
            {{board.createdAt}}
          </span>
        </div>
        <!-- TODO set this in backend -->
        <div>
          {{board.cardCount}} cards
        </div>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <!-- TODO known buck when clicking back button size of bars gets smaller and smaller -->
      <ngx-charts-bar-vertical [view]="view" [scheme]="colorScheme" [results]="board.chartData" [gradient]="gradient">
      </ngx-charts-bar-vertical>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
      <mat-icon aria-hidden="false" aria-label="Download">download</mat-icon>
    </mat-card-actions>
  </mat-card>
</div>